.NotificationWrapper {
    height: 50px;
	line-height: 50px;
	font-size: 0.8em;
}
.SN {
	height: 50px;
	width: 80px;
	float: left;
	color: darkblue;
}

.Name {
	width: calc(100% - 80px - 120px);
	height: 50px;
	float: left;
}

.View {
	width: 120px;
	height: 50px;
    float: left;
    text-align: center;
    color: var(--medium-dark);
}

.View:hover {
    color: var(--lighter-theme);
    cursor: pointer;
}
