.Container{
    width: 100%;
    background: white;
    height:55px;
    display: flex;
    align-content: center;
    margin: 3px 0;
    border-bottom: solid 1px var(--medium-dark);
     /* position: relative;
    top: 12vh;
    left:0; */
}
.ProfilePictureWrapper{
    flex: 1;
}
.PictureEnclosure{
    flex: 1;
    height: 50px;
    width: 50px;
    border: solid 1px silver ;
    border-radius: 50px;
    margin:0 0 0 10px;
}
.RecentMessegeWrapper{
    text-align: center;
    margin: 5px 0;
    flex:5;
    box-sizing: border-box;
}
.MoreButtonWrapper{
    flex:1;
    margin:30px 10px 0 0;
    box-sizing: border-box;
}

/*For DESKTOPS ONLY*/
@media only screen and (min-width: 800px) {

    
}

/*For TABS ONLY*/
@media only screen and (min-width: 450px) and (max-width: 800px) {
   
}