.ChatToolbar{
    position: fixed;
    width: 100%;
    background: transparent; 
    height:10vh;
    top: 0;
    left: 0;
    display: flex;
    box-shadow: 1px 1px 6px var(--lighter-theme);
    align-content: center;
    align-content: space-around;
    z-index: 100;
}
.ToolbarNavigation{
    display: flex;
    height: 100%;
    width: 100%;
}
.BackButtonWrapper{
    flex:0;
    margin:0 5px;
}
.Header{
    align-items: left;
    flex: 1;
    margin: 0 5px;
}


/* For DESKTOPS ONLY*/
@media only screen and (min-width: 800px) {
    
}

/*For TABS ONLY*/
@media only screen and (min-width: 450px) and (max-width: 800px) {
    
   
} 