.MapWrapper {
}

.gm-svpc {
	display: none;
}

.gmnoprint,
.gm-control-active,
.gm-style-pbc,
gm-style {
	display: none;
}

.MapMarker {
	position: fixed;
	top: calc(50vh - 82px);
	left: calc(50vw - 72.5px);
	z-index: 400;
}

.LateMarker {
    position: fixed;
	top: calc(50vh - 82px);
	left: calc(50vw - 11.5px);
	z-index: 400;
}

.MapMarkerImage {
	height: 84px;
	position: relative;
}
