.FormBox {
    width: 100%;
    margin: 0;
    padding: 0;
}



h1{
    text-align: center;
    font-family: 'PT Sans', sans-serif;
    color: var(--theme);
}

.Form {
    width: 90%;
    margin: auto;
    padding: 0;
}

.InfoBar {
    margin: auto;
    padding: 20px;
    width: 235px;
    font-size: 0.9em;
    font-family: 'Nunito', sans-serif;
   
}

.Info {
    margin: auto; 
    color: var(--dark-theme);
    cursor: pointer
}





