.ToggleButton{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 25px;
    width: 25px;
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
    box-sizing: border-box;
    margin-left: 5px;
}

.Notifier {
    height: 17px;
    width: 17px;
    background-color: red;
    border-radius: 7px;
    position: relative;
    z-index: inherit;
}
.ToggleButton :focus{
    border:none;
}
.ToggleButtonLine{
    width: 25px;
    height: 4px;
    background-color: var(--medium-dark);
    margin: 2px;
    border-radius: 5px;
    border: 1px solid white;
}
/*For DESKTOPS ONLY*/
@media only screen and (min-width: 800px) {
    .ToggleButton{
        height: 30px;
        width: 30px;
    }

    
}

/*For TABS ONLY*/
@media only screen and (min-width: 450px) and (max-width: 800px) {
    .ToggleButton{
        height: 30px;
        width: 30px;
    }
 
   
}