.SideDrawer {
	height: 100%;
	background: white;
	box-shadow: 0 0 15px var(--medium-dark);
	position: fixed;
	top: 0;
	left: 0;
	max-width: 400px;
	width: 60vw;
	z-index: 3500;
	transition: all 0.75s ease-in-out;
}

.ProfileContainer1 {
	width: 100%;
	height: 150px;
}
.SideDrawerHeader1 {
    position: absolute;
    display: block;
    width: 100%;
    z-index: 3600;
}

.LeftArrow1 {
    height: 24px;
    float: left;
    padding: 10px;
    cursor: pointer;
}


.MainProfile1{
    display: block;
    position: relative;
    top: 20px;
}

.MoreIcon1 {
    height: 22px;
    padding: 12px 14px;
    float: right;
    cursor: pointer;
}
.UserIcon1 {
    width: 90px;
    
  
}


.ProfileName1 {
    position: relative;
    top: 20px;
    font-weight: bold;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border-bottom: 1px solid silver;
    color: #123456

}

.ListWrapper {
    width: 100%;
    height: 40px;
    border-bottom: 1px solid silver;
}

.ListImg {
    width: 20px;
    float: left;
    padding-top: 10px;
    padding-left: 10px;

}

.LabelWrapper{
    position: absolute;
    left: 40px;
    height: 40px;
    text-align: left;
    font-weight: bolder;
    color: #123456;
    line-height: 40px;
}

.SideDrawerSpan {
    font-size: 0.8em;
    font-weight: 100;
    color: #123456
}

.RequestsBody {
    border-bottom: 1px solid silver;
    
}

.RequestTitle {
    font-size: 0.75em;
    left: 35px;
    height: 35px;
    text-align: left;
    line-height: 35px;
    padding-left: 60px;
}

.RequestTitle:hover {
    color: blue;
    cursor: pointer;
}

.ListWrapper:hover {
    background-color: silver;
    cursor: pointer;
}


.OneActivity {
    height: 40px;
    font-size: 0.9em;
    line-height: 40px;
}

