
.BackButton {
	position: absolute;
	top: 22px;
	right: 15px;
    height: 25px;
    cursor: pointer;
    z-index: 7000;
}

/*For DESKTOPS ONLY*/
@media only screen and (min-width: 700px) {
    .BackButton {
        position: absolute;
        right: calc(50% - 345px);
    }
}

/*For TABS ONLY*/
@media only screen and (min-width: 450px) {

}
